spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/kkunquizapp
    username: postgres
    password: 123456

  data:
    redis:
      host: localhost
      port: 6379
      password: ""
      ssl:
        enabled: false

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092

app:
  cors:
    allowed-origins: http://localhost:3000,http://localhost:5173

logging:
  level:
    org.springframework.security: DEBUG