spring:
  config:
    activate:
      on-profile: prod

  data:
    redis:
      ssl:
        enabled: true
      lettuce:
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 10

  cache:
    redis:
      time-to-live: 600000

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: OFF
    io.lettuce.core: WARN
    org.springframework: WARN